{% extends 'base.html' %}

{% block title %}{{ block.super }} | {{ uiform }}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ MEDIA_URL }}uni-form/css/uni-form.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ MEDIA_URL }}uni-form/css/default.uni-form.css" type="text/css" media="all" />
<link rel="stylesheet" href="{{ MEDIA_URL }}css/uiform_detail.css" type="text/css" media="all" />
{% endblock %}

{% block content-area %}
<h2>{{ uiform }}</h2>
<div class="public-link">
  <p>
    <span>Public link</span>
    <span class="help-text">Anyone will be able to view (but not edit) this UI Form at this URL.</span>
  </p>
  <p class="public-link">http://blah.bad</p>
</div>
<div class="field-list">
  <h3>Fields:</h3>
  <form method="POST" id="" action="" class="uniForm">
    <fieldset>
      {% for field in uiform.fields %}
      <div class="ctrlHolder uiformfield">
        <div class="edit-delete">
          <a href="">edit</a>
          <a href="">delete</a>
        </div>
        {{ field.as_html }}
      </div>
      {% endfor %}
    </fieldset>
  </form>
  <p>
    <a href="{% url uiformfield_new uiform.pk %}" class="button">Add another field</a>
  </p>
</div>
{% endblock %}
