.field-list {
    margin-left: 32px;
    margin-right: 32px;
}

div.public-link {
    padding: 4px;
    border: 1px solid silver;
    width: 75%;
    font-weight: bold;
}

div.public-link p {
    margin-bottom: 2px;
}

p.public-link {
    font-weight: normal;
}

.help-text {
    color: gray;
    margin-left: 1em;
    font-size: 12px;
    font-weight: normal;
}

div.uiformfield {
    position: relative;
    padding: 0.5em 0 !important;
    padding-left: 1em !important;
    margin: 0.5em 0 !important;
    border-left: 3px solid #ddd;
}

div.edit-delete {
    display: none;
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 12px;
}

div.ctrlHolder:hover div.edit-delete {
    display: block;
}

.fields-intro {
    margin-top: 1em;
}

.email-form {
    margin-bottom: 0;
}